@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/*-----------------Table of Contents:-----------------*/
/*        1. Global Styles
          2. Reusables
          3. Typografie
          4.Header
          5.main
          5.1 Contact-Form  Contactformulier
          6. Footer
/*-------------------------------------------------*/
/* 1. Global Styles*/
/*-------------------------------------------------*/


/*---For the padding not to affect the width of the element-----*/
body * {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	width: 100%;


}

ul {
	font-family: roboto, sans-serif;
	display: flex;
	flex-direction: row;
	list-style-type: none;

}

a:link {
	font-family: roboto, sans-serif;
	text-decoration: none;
	color: var(--blue);


}

li {
	font-family: roboto, sans-serif;
}

li:hover {
	text-decoration-line: line-through;
}

/* --------------- 2-Reusables ----------------------- */

:root {


	--purple: #5722CD; /**Chrysler Blue*/
	--blue: #4845E8; /**Majorelle Blue*/
	--pink: #ED4385; /**French Rose*/
	--black: #0C0C0C; /* - Zwart - Night (voor standaard tekst)-*/
	--white: #f1f5f3; /*-- Magnolia (voor de grote zwevende woorden, zoals "hello" en "services")--*/
	--silver: #7A7A7A; /*(voor de service-tegel tekst)*/
	--light-silver: #F3f0FF /*HELLO, SERVISEC (BONOS)*/

}

/*--------------------------------*/
/*         3. Typografie           */
/*--------------------------------*/

h1 {
	font-weight: 600;
	font-style: normal;
	font-size: 48px;
	color: var(--white);
	text-align: center;
	font-family: Merriweather, sans-serif;
}

h2 {
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	font-family: Merriweather, sans-serif;
}

h3 {

	font-weight: 700;
	padding: 1px;
	font-size: 18px;
	font-family: Merriweather, sans-serif;
}

h4 {
	color: var(--white);
	font-weight: 200;
	padding: 3px;
	font-size: 20px;
	font-style: normal;
	font-family: Merriweather, sans-serif;
}

h5 {
	font-weight: 400;
	font-size: 14px;
	font-family: Merriweather, sans-serif;
}

h6 {
	font-weight: 100;
	font-style: normal;
	font-size: 12px;
	color: var(--silver);
	font-family: Merriweather, sans-serif;


}

p {
	color: var(--black);
	font-weight: 100;
	font-size: 10px;
	font-family: roboto, sans-serif;

}

a {
	color: var(--blue);
	font-weight: 300;
	font-size: 10px;
	font-family: roboto, sans-serif;

}
